<div class="grid-container">
    <div class="loading" *ngIf="cargando">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <div *ngFor="let post of posts" class="post" (click)="viewDetails(post)">

        <img src="data:image/jpeg;base64,{{post.imagen}}" alt="Post image">

        <!-- <div class="options" [ngClass]="post.showOptions ? 'showOptions' : 'hideOptions'">
            <button class="op-like" (click)="darLike(post)">
                Like
            </button>
        </div> -->
    </div>
</div>
