.post-container {
    display: flex;
    max-width: 80vw;
    min-width: 80vw;
    min-height: 200px; /* Establece un mínimo de altura para el contenedor */
    max-height: 100vh;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    align-items: stretch; /* Asegura que los hijos se estiren para llenar el contenedor */
}
.comment-container {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    min-height: 200px; /* Establece un mínimo de altura para el contenedor */
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    align-items: stretch; /* Asegura que los hijos se estiren para llenar el contenedor */
}
.pasos-container {
    display: flex;
    max-width: 80vw;
    min-width: 80vw;
    min-height: 200px; /* Establece un mínimo de altura para el contenedor */
    max-height: 100vh;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    align-items: stretch; /* Asegura que los hijos se estiren para llenar el contenedor */
}

.post-content {
    display: flex;
    width: 100%;
    height: 100%; 
}

.post-comment{
    display: flex;
    width: 80vw;
    height: 100%; 
    border-radius: 10px;
    border: 1px solid #241f1f;
}

.post-image-container {
    flex: 0 0 40%; /* Ancho fijo del 40% del contenedor */
    position: relative;
    width: 100%;
    align-items: stretch; /* Esto hará que la imagen se estire para llenar el contenedor */
}

.post-image-container::before {
    content: "";
    display: block;

}

.post-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    height: 100%; /* Asegura que la imagen llene el contenedor de la imagen */
    object-fit: cover;
}

.post-info {
    flex: 1; /* Toma el espacio restante */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

/* ...resto de estilos... */

@media (max-width: 768px) {
    .post-content {
        flex-direction: column;
    }

    .post-image-container {
        flex-basis: auto; /* Esto permite que la imagen tome el ancho completo en dispositivos móviles */
    }

    .post-info {
        flex-basis: auto;
    }
}

.post-container {
    display: flex;
    max-width: 70%;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.post-content {
    display: flex;
    width: 100%;
    height: 100%; /* Asegúrate de que el contenido llene el contenedor padre */

}

.post-image-container {
    flex: 0 0 60%; /* Ancho fijo del 40% del contenedor */
    position: relative;
    width: 100%;
}

.post-image-container::before {
    content: "";
    display: block;
    padding-top: 70%; /* Altura como porcentaje del ancho */
}

.post-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    align-items: stretch; /* Asegura que los hijos se estiren para llenar el contenedor */
}

.post-info {
    flex: 1; /* Toma el espacio restante */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ...resto de estilos... */

@media (max-width: 100%) {
    .post-content {
        flex-direction: column;
    }

    .post-image-container,
    .post-image-container::before {
        flex-basis: 100%;
    }

    .post-info {
        flex-basis: auto;
    }
}

.comment-input {
    margin-right: 10px; /* Espacio entre el input y el botón */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
}

.comment-button {
    background-color: #FF3911;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Agrega una transición para el efecto hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra ligera para dar profundidad */
    outline: none; /* Elimina el outline al hacer focus */
}

.comment-button:hover {
    background-color: #FF3911; /* Color más oscuro al pasar el mouse */
}

.comment-button:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra interna para el efecto de "presionado" */
}

.comments-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment {
    margin-top: 10px;
    padding: 10px;
    width: 80vw;
    height: 5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.likes-counter-liked{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #f34433;
    user-select: none;
    cursor: pointer;
}
.likes-counter-unliked{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #243644;
    user-select: none;
    cursor: pointer;
}

.post-author{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #243644;
    user-select: none;
    cursor: pointer;
}

.pills {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: white;
    user-select: none;
    background: #f34433;
    border-radius: 20px;
    padding: 7px;
    margin: 5px; /* Este margen se aplica a todos los lados */
    display: inline-block; /* O flex si estás utilizando flexbox */
    /* Agrega margen adicional si es necesario */
    margin-right: 10px; /* Espacio adicional a la derecha */
    margin-left: 10px; /* Espacio adicional a la izquierda */
}
