.post {
    position: relative;
    width: 15vw;
    height: 20vw;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 10px;
    background: white;
    border-radius: 10px;
    overflow: hidden; /* Para mantener todo dentro de los bordes redondeados */
    transition: all 0.3s ease;

}

.post > img {
    width: 15vw;  /* ajustado para ocupar todo el ancho del padre */
    height: 20vw; /* ajustado para ocupar todo el alto del padre */
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.options {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /* ajustado para ocupar todo el ancho del padre */
    height: 100%; /* ajustado para ocupar todo el alto del padre */
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(58, 50, 46, 0.5); /* Transparencia roja */
    z-index: 1000;
    display: none; /* Opcional: ocultar por defecto y mostrar en hover */
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    grid-auto-rows: auto;
}