<!-- <div class="background">
    <div class="image-column">
        <div class="image-rect" style="background-image: url('../../../assets/img/img1.jpg');"></div>
        <div class="image-rect" style="background-image: url('../../../assets/img/img2.jpg');"></div>
        <div class="image-rect" style="background-image: url('../../../assets/img/img3.jpg');"></div>
    </div>
    <div class="image-column">
        <div class="image-rect" style="background-image: url('../../../assets/img/img5.jpg');"></div>
        <div class="image-rect" style="background-image: url('../../../assets/img/img6.jpg');"></div>
        <div class="image-rect" style="background-image: url('../../../assets/img/img7.jpg');"></div>
    </div>
    <div class="image-column">
      <div class="image-rect" style="background-image: url('../../../assets/img/img8.jpg');"></div>
      <div class="image-rect" style="background-image: url('../../../assets/img/img9.jpg');"></div>
      <div class="image-rect" style="background-image: url('../../../assets/img/img10.jpg');"></div>
  </div>
  <div class="image-column">
      <div class="image-rect" style="background-image: url('../../../assets/img/img4.jpg');"></div>
      <div class="image-rect" style="background-image: url('../../../assets/img/img11.jpg');"></div>
      <div class="image-rect" style="background-image: url('../../../assets/img/img12.jpg');"></div>
  </div>
  <div class="image-column">
    <div class="image-rect" style="background-image: url('../../../assets/img/img13.jpg');"></div>
    <div class="image-rect" style="background-image: url('../../../assets/img/img14.jpg');"></div>
    <div class="image-rect" style="background-image: url('../../../assets/img/img15.jpg');"></div>
  </div>
  <div class="image-column">
    <div class="image-rect" style="background-image: url('../../../assets/img/img16.jpg');"></div>
    <div class="image-rect" style="background-image: url('../../../assets/img/img17.jpg');"></div>
    <div class="image-rect" style="background-image: url('../../../assets/img/img18.jpg');"></div>
  </div>
  <div class="image-column">
  <div class="image-rect" style="background-image: url('../../../assets/img/img19.jpg');"></div>
  <div class="image-rect" style="background-image: url('../../../assets/img/img20.jpg');"></div>
  <div class="image-rect" style="background-image: url('../../../assets/img/img21.jpg');"></div>
  </div>
  
  </div>
   -->
  
  <div class="overlay"></div>
  
  
  <div class="form-container">
    <img src="../../../assets/logo-small.svg" alt="Logo" class="form-logo">
    <h2>Bienvenido a Flavorist</h2>

    <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
        <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput formControlName="correo" required type="email">
          </mat-form-field>
      
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" required type="password">
          </mat-form-field>

        <button type="submit" class="continue-btn">Iniciar Sesion</button>
        <p class="or-separator">o</p>
        <button type="button" class="google-btn" (click)="setRegister()">Registrate</button>
    </form>
</div>