<nav class="top-nav">
    <img src="../../../../assets/logo-small.svg" alt="Logo" class="logo" id="logo">
    <div class="navbar-buttons">
        <a routerLink="./home">Inicio</a> 
        <a routerLink="./explorer">Explorar</a>
        <a routerLink="./post-creation">Crear</a>
    </div>

    <input type="search" placeholder="Buscar">
    
    <a routerLink="./notification"><img src="../../../assets/notificacion.svg" alt="Notificaciones" class="notification-icon"></a>
    <a routerLink="./profile"><img src="../../../assets/perfildefault.webp" alt="Perfil" class="profile-pic"></a>   
    <a routerLink="./configuration"><img src="../../../assets/configuracion.svg" alt="configuracion" class="notification-icon"></a>

    <button (click)="cerrarSesion()">Cerrar Sesión</button>

</nav>