/* feed-principal.component.css */
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 0.5%;
}

#logo {
    height: 50px;
    margin: 0 5px; /* Margen reducido */
}

input[type="search"] {
    font-family: 'Poppins', sans-serif; /* Agrega la fuente Poppins */
    flex-grow: 1; /* Barra de búsqueda más grande */
    padding: 0.9%;
    margin: 0 15px;
    border-radius: 25px;
    border: #e9e9e9;
    background-color: #e9e9e9;
}

.notification-icon {
    height: 20px;
    margin: 0 10px;
}

.profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.nav-buttons {
    display: flex;
}

.item {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 8px 18px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.item:hover {
    background-color: #000000;
    color: white;
}

.item.active {
    background-color: black;
    color: white;
}

.showNoti{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65px;
    right: 0;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 999999;
    overflow-y: scroll;
}
.showConfi{
    display: none;
}

.showConfi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65px;
    right: 0;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 999999;
    overflow-y: scroll;
}

.hideConfi{
    display: none;
}

.hideNoti{
    display: none;
}


.noti-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100%;
}
.noti{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.icons-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 2vw;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-size: 1.5rem;
}

.icons-navbar:hover{
    background-color: #e9e9e9;
    cursor: pointer;
}